<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>登录</title>
    <link th:href="@{/css/register.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" />
</head>
<body>
<div class="header">
    <img th:src="@{/picture/logo.png}" />
</div>
<div class="content">
    <div class="picture">
        <img th:src="@{/picture/picture.png}" />
    </div>
    <div class="register">
        <form class="form-inline" name="frm">
            <label><h3>登录</h3></label><br/> <br/>
            <div class="form-group">
                <input type="email" class="form-control" id="phone" value=""
                       placeholder="请输入手机号" />
            </div>
            <br/> <br/>
            <div class="form-group">
                <input type="password" class="form-control" id="password" value=""
                       placeholder="请输入密码" />
            </div>
            <br/> <br/> <br/> <br/> <br/>
            <p>
                <a th:href="@{/usercontroller/toregister}">快速注册</a>
            </p>
            <button type="button" id="login" class="btn btn-success loginButton">登录</button>
        </form>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" th:src="@{/js/ForumFront.js}"></script>
</html>